<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Reminders</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
    <reminder-item></reminder-item>
  </ion-list>

</ion-content>