<ion-tabs class="tabs-footer" (ionTabsDidChange)="tabChanged($event)" color="light">
  <ion-tab-bar class="tabs" slot="bottom">
    <ion-tab-button tab="reminders" href="/reminders">
      <ion-icon aria-hidden="true" [name]="selectedTab == 'reminders' ? 'bookmark' : 'bookmark-outline'"></ion-icon>
    </ion-tab-button>

    <ion-button id="add-reminder" fill="clear">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-button>

    <ion-tab-button tab="account" href="/account">
      <ion-icon aria-hidden="true"
        [name]="selectedTab == 'account' ? 'person-circle' : 'person-circle-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<reminder-add></reminder-add>