<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reminders" href="/reminders">
      <ion-icon aria-hidden="true" name="bookmark-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add" href="/add">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account" href="/account">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>