<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Reminders"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="primary">Done</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <reminder-edit></reminder-edit>
</ion-content>

<ion-footer>
  <div class="p-4 mt-auto">
    <ion-button fill="clear" expand="block" (click)="actionSheetOpen = true">
      <ion-text color="danger">Delete reminder</ion-text>
    </ion-button>
  </div>
</ion-footer>

<ion-action-sheet [isOpen]="actionSheetOpen" header="Are you sure you want to delete this reminder?"
  [buttons]="actionSheetButtons"></ion-action-sheet>