<ion-header [translucent]="true">
  <div class="header">
    <ion-icon size="large" src="/assets/logo.svg"></ion-icon>
  </div>
  <ion-toolbar>
    <ion-segment class="segment" mode="md" value="upcoming" [(ngModel)]="selectedSegment">
      <ion-segment-button class="segment-button" value="upcoming">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button class="segment-button" value="past">
        <ion-label>Past</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <upcoming-reminders *ngIf="selectedSegment == 'upcoming'"></upcoming-reminders>
  <past-reminders *ngIf="selectedSegment == 'past'"></past-reminders>
</ion-content>
