.header {
    @apply flex justify-center items-center p-4;
}

.segment-button {
    text-transform: none;
}

.toolbar-segment {
    --opacity: 0;
}

.header-ios {
    border-bottom: 1px solid var(--ion-color-light);
}

.segment-button-checked {
    color: var(--ion-color-dark);
}

.swiper {
    height: 100%;
}

ion-refresher.refresher-active {
    z-index: 1;
}

::ng-deep reminder-item:not(:last-child) ion-item {
    --border-width: 0px 0px 0.55px 0px !important;
}